* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 18px;
  background: rgb(91, 124, 41);
}
.container {
  width: 1420px;
  margin: 0 auto;
}
/* wrapper */
.wrapper {
  display: flex;
  justify-content: center;
}
.header-logo {
  background-color: rgba(143, 158, 126, 0.463);
  display: flex;
  width: 180px;
  height: 80px;
  border-radius: 10px;
  position: relative;
  top: 30px;
  right: 500px;
}
.header-logo > img {
  width: 120px;
  height: 120px;
  position: relative;
  left: 30px;
  bottom: 20px;
}
.header-menu {
  background-color: rgb(73, 107, 22);
  width: 400px;
  height: 80px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 50px;
  left: 380px;
}
.header-menu__list {
  display: flex;
  justify-content: space-between;
}
.header-menu__link {
  list-style: none;
  position: relative;
  left: 60px;
}
.header-menu__link > a {
  margin: 5px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.header-menu__btn {
  position: relative;
  left: 150px;
  bottom: 0px;
  background-color: rgb(244, 241, 84);
  width: 200px;
  height: 80px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
}
/* welcome */
.welcome {
  display: flex;
  justify-content: center;
}
.welcome-card {
  border: 1px solid #887d7d;
  display: flex;
  justify-content: space-between;
  background-color: rgb(73, 107, 22);
  border-radius: 80px;
}
.welcome-card__title {
  height: 100px;
  width: 400px;
}
.welcome-card__title > h1 {
  color: antiquewhite;
  font-size: 50px;
  display: flex;
  width: 600px;
  position: relative;
  right: 90px;
  top: 120px;
  text-transform: uppercase;
}
.welcome-card__txt > span {
  font-size: 18px;
  color: #333;
  background-color: rgb(244, 241, 84);
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 50px;
  text-transform: uppercase;
  position: relative;
  left: 80px;
  top: 50px;
}
.welcome-card-img > img {
  width: 600px;
  height: 400px;
}
.welcome-card__inner {
  position: relative;
  right: 490px;
  top: 190px;
  height: 70px;
  width: 200px;
}
.welcome-card__inner > p {
  color: rgb(244, 241, 84);
  width: 500px;
  text-transform: uppercase;
}
.welcome-card__texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  right: 670px;
  top: 100px;
}
.welcome-card__text {
  width: 50px;
  text-transform: uppercase;
  color: antiquewhite;
}
.cardtxt {
  position: relative;
  right: 550px;
}
.txt > span {
  display: flex;
  width: 200px;
}
.welcome-card__text::before {
  content: url("../icons/primitivedot_106373.svg");
  position: relative;
  right: 20px;
  top: 23px;
}
/* pizza */
.pizza {
  display: flex;
  justify-content: space-between;
}
.pizza-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pizza-left__cards {
  position: relative;
  top: 90px;
  left: 70px;
  display: flex;
  justify-content: space-between;
}
.pizza-left__card {
  margin: -30px;
}
.pizza-card__img {
  border: 1px solid #887d7d;
  background-color: rgb(73, 107, 22);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  width: 300px;
  height: 300px;
}
.pizza-card__img > img {
  width: 250px;
  height: 250px;
}
.pizza-card__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70px;
  margin-left: 10px;
}
.pizza-card__title > h1 {
  color: rgb(226, 226, 226);
  font-size: 21px;
  text-transform: uppercase;
  width: 250px;
}
.pizza-card__price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70px;
}
.pizza-card__price > p {
  color: rgb(244, 241, 84);
  font-size: 80px;
  width: 250px;
  text-transform: uppercase;
}
.pizza-card__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 120px;
}
.pizza-card__inner > p {
  color: antiquewhite;
  width: 300px;
}
.pizza-card__gramm > p {
  color: antiquewhite;
  width: 200px;
}
.pizza-card__buttons {
  display: flex;
  justify-content: space-between;
  border: 1px solid antiquewhite;
  background-color: antiquewhite;
  align-items: center;
  width: 100px;
  height: 50px;
  border-radius: 50px;
  margin-top: 30px;
}
.pizza-card-btn__minus {
  position: relative;
  left: 20px;
}
.pizza-card-btn__text {
  position: relative;
  right: -5px;
}
.pizza-card-btn__plus {
  position: relative;
  right: 15px;
}
.pizza-card-btn__minus > span {
  color: rgb(91, 124, 41);
  cursor: pointer;
}
.pizza-card-btn__plus > span {
  color: rgb(91, 124, 41);
  cursor: pointer;
}
.pizza-card-btn__text > span {
  color: rgb(91, 124, 41);
}
.pizza-card__btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 430px;
  margin-top: -50px;
}
.pizza-card__btn > a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  color: #333;
  border: 1px solid rgb(244, 241, 84);
  background-color: rgb(244, 241, 84);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
}
.card3 > p {
  font-size: 19px;
  text-transform: uppercase;
  position: relative;
  top: 100px;
  right: 330px;
  text-align: center;
}
.pizza-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 580px;
}
.right-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  margin-left: -150px;
}
.btns {
  position: relative;
  right: 100px;
}
.btn {
  position: relative;
  left: 60px;
  display: flex;
  width: 200px;
}
.gramm {
  position: relative;
  right: 45px;
}
.price {
  position: relative;
  right: 45px;
}
.title {
  position: relative;
  right: 45px;
}
.cards {
  position: relative;
  left: -40px;
  top: 250px;
}
.tit {
  width: 200px;
}
.pri {
  width: 200px;
}
.inn {
  width: 200px;
}
.gr {
  width: 200px;
}
.crd {
  width: 200px;
  position: relative;
  left: 110px;
}
.card {
  position: relative;
  top: 250px;
  left: -10px;
}
.card4 {
  position: relative;
  top: 350px;
}
.pizza-img {
  border-radius: 50%;
}
.pizza-cardbtn {
  border: 1px solid rgb(244, 241, 84);
  background-color: rgb(244, 241, 84);
  width: 100px;
  height: 40px;
  border-radius: 50px;
  position: relative;
  left: 100px;
  bottom: 170px;
}
.pizza-cardbtn > a::after {
  content: url("../icons/start-button_icon-icons.com_53873.svg");
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 30px;
  height: 30px;
  position: relative;
  left: 35px;
  top: 7px;
}
/* delivery-info */
.deliveri-info {
  display: flex;
  justify-content: space-between;
  background-color: antiquewhite;
  width: 1515px;
  height: 600px;
  position: relative;
  left: -50px;
  top: 450px;
}
.delivery-info__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.delivery-info-left__title {
  position: relative;
  left: 100px;
  bottom: 170px;
}
.delivery-info-left__title > h3 {
  text-transform: uppercase;
  font-size: 90px;
  color: rgb(73, 107, 22);
  width: 1300px;
}
.delivery-info__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 180px;
}
.delivery-info-right__cards {
  display: flex;
  justify-content: space-between;
  position: relative;
  right: 700px;
  top: 120px;
  width: 1500px;
}
.delivery-info-right__card {
  margin: 110px;
}
.delivery-info-right-card__title > h1 {
  color: orangered;
  font-size: 30px;
  text-transform: uppercase;
}
.delivery-info-right-card__inner > p {
  width: 300px;
  margin-top: 20px;
  color: rgb(73, 107, 22);
  font-weight: 500;
}
.reviews {
  display: flex;
  justify-content: space-between;
  background-color: antiquewhite;
  width: 1515px;
  height: 1000px;
  position: relative;
  left: -50px;
  top: 450px;
}
.reviews-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reviews-anim-title > h2 {
  color: rgb(73, 107, 22);
  font-size: 110px;
  text-transform: uppercase;
  font-weight: bold;
  animation: animfont 3s linear infinite;
}
@keyframes animfont {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.reviews-anim-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1480px;
  margin-top: -600px;
}
.reviews-anim-title > h2 > span {
  color: orangered;
}
.reviews-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10px;
}
.reviews-anim-img > img {
  width: 400px;
  height: 600px;
  position: relative;
  right: 750px;
  top: 300px;
  animation: animimg 1s ease-in;
}
@keyframes animimg {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
.reviews-anim-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10px;
}
.reviews-cards {
  display: flex;
  justify-content: space-between;
  position: relative;
  right: 600px;
}
.reviews-card {
  border: 1px solid #fff;
  background-color: orangered;
  width: 250px;
  height: 250px;
  border-radius: 30px;
  animation: animimg 1s ease-in-out;
}
@keyframes animcard {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
.reviews-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.reviews-title > h3 {
  color: antiquewhite;
  text-transform: uppercase;
}
.reviews-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
}
.reviews-inner > p {
  color: antiquewhite;
}
.rcard1 {
  position: relative;
  right: 150px;
  bottom: 250px;
  transform: rotate(350deg);
}
.rcard2 {
  position: relative;
  right: 290px;
  bottom: 50px;
  transform: rotate(5deg);
}
.rcard3 {
  position: relative;
  right: 190px;
  bottom: 150px;
  transform: rotate(-350deg);
}
.footer {
  display: flex;
  justify-content: center;
  margin-top: 380px;
}
.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-left__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1280px;
  position: relative;
  top: 100px;
  left: 30px;
}
.footer-left__logo > img {
  width: 200px;
  height: 200px;
}
.footer-left__menu {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -70px;
  left: -10px;
}
.footer-left__link {
  list-style: none;
  position: relative;
  right: 140px;
  top: 30px;
}
.footer-left__link > a {
  text-decoration: none;
  color: antiquewhite;
}
.footer-left__title > h4 {
  color: antiquewhite;
  text-transform: uppercase;
  width: 200px;
  position: relative;
  left: 60px;
}
.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 180px;
}
.footer-right__menu {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 15px;
  right: 230px;
}
.footer-left__links {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 30px;
  left: -135px;
}
.footer-left__img {
  margin: 10px;
}
@media (max-width: 426px) {
  .header-burger {
    display: block;
    position: relative;
    left: 150px;
    z-index: 3;
    width: 30px;
    height: 20px;
    background-color: #1c140f;
  }
  .header-burger:before,
  .header-burger:after {
    content: "";
    position: absolute;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 2px;
    transition: all 0.3s ease;
  }
  .header-burger:before {
    top: 0;
  }
  .header-burger:after {
    bottom: 0;
  }
  .header-menu__link > a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
  }
  .header-burger span {
    position: absolute;
    left: 0px;
    top: 10px;
    background-color: #fff;
    width: 100%;
    height: 2px;
    transition: all 0.3s ease;
  }
  .header-burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header-burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header-burger.active span {
    transform: scale(0);
  }
  .header-menu {
    position: fixed;
    top: -20%;
    left: 20px;
    width: 90%;
    height: 15%;
    color: white;
    background-color: #1c140f;
    padding: 70px 0 10px 10px;

    transition: all 0.3s ease;
  }
  .header-menu.active {
    top: 0;
  }
  .header-menu__list {
    display: block;
    list-style: none;
  }
  .header-menu__list li {
    margin: 0 0 70px 0;
    position: relative;
    z-index: 1;
    right: 310px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
